<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.digitalhouse.app_cinema">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_cinema">
        <activity
            android:name=".principal.view.TelaPrincipalActivity"
            android:exported="false" />
        <activity
            android:name=".assistidos.view.TelaAssistidosActivity"
            android:exported="false" />
        <activity
            android:name=".paraassistir.view.TelaParaAssistirActivity"
            android:exported="false" />
        <activity
            android:name=".favoritos.view.TelaFavoritosActivity"
            android:exported="false" />
        <activity
            android:name=".redefinirsenha.view.TelaRedefinirSenhaActivity"
            android:exported="false" />
        <activity
            android:name=".recuperarsenha.view.TelaRecuperarSenhaActivity"
            android:exported="false" />
        <activity
            android:name=".criarconta.view.TelaCriarContaActivity"
            android:exported="false" />
        <activity
            android:name=".login.view.TelaLoginActivity"
            android:exported="false" />
        <activity
            android:name=".inicial.view.TelaInicialActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>